<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Schedule</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="main-body">
      <div id="courses">
        <div id="text-area">
            <input type="text" class="search-bar" id="course-search" placeholder="Search Courses"/>
        </div>
        <div class="buttons">
          <button id="reset">Reset</button>
        </div>
        <p id="conflict-list"></p>
        <div id ="grid">
          <% courses.forEach(course => { %>
            <button class="squareOff" id="<%= course.name %>"><%= course.name %></button>
          <% }); %>
        </div>
      </div>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>