body, html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#main-body {
  height: 100%;
  display: flex;
  flex-direction: row;
}
#courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
}
#students {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  width: 250px;
  height: 800px;
  margin-top: 10px;
  overflow-y: scroll;
}
#student-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.student-button {
  min-height: 100px;
  min-width: 195px;
  margin: 5px;
  background-color: grey;
}
#grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#conflict-list {
  font-family: Arial;
  font-size: 18px;
  display: flex;
  justify-content: center;
  text-align: center;
}
button {
  box-sizing: border-box;
  font-size: 11.5px;
  padding: 1px;
  height: 100px;
  width: 100px;
  color: white;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  border: solid black 1px;
}
#reset {
  min-height: 50px;
  width: 100px;
  font-size: 24px;
  background-color: grey;
}
.squareOff {
  background-color: grey;
  margin: 5px;
}
.squareOn {
  background-color: green;
  margin: 5px;
}
#text-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#student-search {
  width: 75%;
}
.search-bar {
  width: 90%;
  margin: 10px;
  border-radius: 10px;
  height: 24px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid black;
}